.question > .progress-bar { 
    width: 0%;
    height: 5px;
    background: #000;
}

.question > .progressbar-active {    
    animation:  bar-animation 20s linear; 
}
@keyframes bar-animation  {
 0% {
    width :0%;
    background: #555;
 }
 50% { 
   width: 50%;
   background: #fa8484;
 }
 79%{ 
    width: 79%;
    background: #fe6565;
 }
 80% {
    width: 80%;
    background: orangered;
 }
 100% { 
    width: 100%;
    background: orangered;
 }
}